.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.center-spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr; /* 3 columns of equal width */
  height: 100vh;
  margin: 0 !important;
  width: 100% !important;
}

.section {
    height: 100%;
}

.divider {
    background-color: black;
}

/* Remove max-width from containers */
@media (min-width:992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: none !important;
    }
}

@media (min-width:768px) {
    .container, .container-md, .container-sm {
        max-width: none !important;
    }
}

@media (min-width:576px) {
    .container, .container-sm {
        max-width: none !important;
    }
}